@{
    ViewBag.Title = "Home Page";
}

<h2>
    The world
</h2>
<p>This will be the new website soon!</p>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="button" name="submit" value="Submit" /></div>
</form>